{% load static %}
{% load app_filters %}

<style>
    #bannerimg2{
        display: none;
    }

    @media (max-width: 600px) {
        #bannerimg1 {
            display: none;
        }
        #bannerimg2{
            display: block;
        }
    }
</style>

<div class="ui grid">

    <div class="sixteen wide column">
        <div style="position: relative;">
            <div style="position: absolute; top: 8px; right: 16px;">

                    <a class="linksheaders" href="https://www.ipn.mx/directorio.html" target="_blank"> DIRECTORIO </a>| <a class="linksheaders" href="https://www.ipn.mx/correo-electronico.html" target="_blank">CORREO ELECTRÓNICO </a>| <a class="linksheaders" href="https://www.ipn.mx/calendario-academico.html" target="_blank">CALENDARIO </a>| <a class="linksheaders" href="https://www.ipn.mx/calendario-academico.html" target="_blank">BUZÓN</a>
            </div>
            <img id="bannerimg1" src="{% static 'tt/img/banner.png' %}" style="width: 100%; height: 150px;">
            <div id="bannerimg2"><br><br><center><img  src="{% static 'tt/img/logoescom.png' %}"  style="width: 50%; height: 75px;"></center></div>
        </div>

    </div>

    <!--{% static 'tt/img/udi.jpg' %}-->
</div>

<div class="ui inverted stackable menu">
    <a href="http://www.escom.ipn.mx/" target="_blank">
    <div class="item escomimg">
        <img src="{% static 'tt/img/logoescom.png' %}">
    </div>
    </a>
    <a class="item active" onclick="home()"><i class="home icon"></i>Inicio</a>
    <!--ADMINISTRADOR-->
    <a class="item itemadmin" onclick="showTec()" style="display:none;"><i class="fas fa-users"></i>&nbsp;Técnicos</a>
    <a class="item itemadmin" onclick="showDep()" style="display:none;"><i class="fas fa-building"></i>&nbsp;Departamentos</a>
    <a class="item itemadmin" onclick="showEquipment()" style="display:none;"><i class="fas fa-desktop"></i>&nbsp;Inventario</a>
    <a class="item itemadmin" onclick="showOrdersAdmin()" style="display:none;"><i class="fas fa-file-invoice"></i>&nbsp;Ordenes</a>
    <a class="item itemadmin" onclick="showRegisters()" style="display:none;"><i class="user circle icon"></i>Docentes</a>
    <a class="item itemadmin" onclick="showGraph()" style="display:none;"><i class="chart bar icon"></i>&nbsp;Ver gráficas</a>
    <a class="item itemadmin addadmin" onclick="addAdmin()" style="display:none;"><i class="user plus icon"></i>Añadir Administrador</a>
    <!--DOCENTE-->
    <a class="item itemdocente" onclick="showOrderForm()" style="display:none;"><i class="fas fa-file-signature"></i>&nbsp;Levantar solicitud</a>
    <a class="item itemdocente" onclick="showEquipmentDoc()" style="display:none;"><i class="fas fa-desktop"></i>&nbsp;Mi Equipo</a>
    <a class="item itemdocente" onclick="showOrdersDoc()" style="display:none;"><i class="fas fa-file-invoice"></i>&nbsp;Mis Ordenes</a>
    <a class="item itemdocente" onclick="showPerfil()" style="display:none;"><i class="fas fa-file-invoice"></i>&nbsp;Perfil</a>
    <!--TECNICO-->
    <a class="item itemtecnico" onclick="showOrdersTec()" style="display:none;" id="tecitem"><i class="fas fa-briefcase"></i>&nbsp;Ver trabajos</a>
    <a class="item itemtecnico" onclick="showEquipment()" style="display:none;"><i class="fas fa-desktop"></i>&nbsp;Inventario</a>
    <div class="right menu">

            <a class="ui dropdown icon item sesionforms" style="display:none;">

                <div class="menu">
                    <div class="item">

                        <form class="ui form" id="login" action="{% url 'tt:IniciarSesion'%}" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <h4 class="ui dividing header">Ingresa tus datos</h4>
                            <div class="field">
                                <label>{{ forml.correo.label_tag }}</label>
                                {{ forml.correo }}
                            </div>
                            <div class="field">
                                <label>{{ forml.passs.label_tag }}</label>
                                {{ forml.passs }}
                            </div>
                            <h4 class="ui dividing header"></h4>

                            <center><input class="ui inverted green button" type="submit" value="Iniciar Sesión"/>
                            </center>
                        </form>
                        <br>
                        <p>¿Olvidate tú contraseña?</p>
                        <p style="color: #1e70bf; cursor: pointer;" id="RecupPass">Recuperar contraseña</p>

                    </div>

                </div>
                <i class="fas fa-sign-in-alt"></i>&nbsp;Iniciar Sesión
            </a>

            <a class="item sesionforms" onclick="showRegisterModal()" style="display:none;"><i class="fas fa-user-plus"></i>&nbsp;Registrarse</a>
            <div class="item sesion" style="display:none;">
                <i class="user circle icon"></i><p id="username"></p>
            </div>
            <a class="item sesion" onclick="cerrarSesion()" style="display:none;"><i class="fas fa-sign-out-alt"></i>&nbsp;Cerrar Sesión</a>
</div>
</div>


<script>
//dropdown
$(document).ready(function(){
$('.ui.dropdown')
 .dropdown({
    action: 'nothing'
  });

 $('.ui.inverted.stackable.menu')
        .on('click', '.item', function() {
          if(!$(this).hasClass('dropdown') && !$(this).hasClass("escomimg") && !$(this).hasClass("sesionforms") && !$(this).hasClass("sesion") && !$(this).hasClass("addadmin") ) {
            $(this)
              .addClass('active')
              .siblings('.item')
                .removeClass('active');
          }
        });
});



</script>
