{% load static %}
{% load app_filters %}

<section class="ui grid">
    <div class="sixteen wide column">
        <div>
            <img src="{% static 'tt/img/udibanner.jpg' %}" style="width: 100%; height: 150px;">
        </div>

    </div>

    <!--{% static 'tt/img/udi.jpg' %}-->
</section>

<div class="ui stackable menu">
    <div class="item active">
        <img src="{% static 'tt/img/logoescom.png' %}">
    </div>
    <a href="{% url 'tt:Index'%}" class="item"><i class="home icon"></i>Inicio</a>
    <div class="right menu">
        {% if not NombreUser %}
        <a class="item">Iniciar Sesión</a>
        <a class="item" onclick="showRegisterModal()">Registrarse</a>

        {% else %}
        <a class="item ">Cerrar Sesión</a>
        {% endif %}
    </div>
</div>


