{% load static %}

{% include "tt/base.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'tt/css/styles.css' %}">
<title>TT - UDI</title>
<style>

    .loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        opacity: .8;
    }

    #loader2 {
        background: url("{% static 'tt/img/loader2.gif' %}") 50% 50% no-repeat rgb(249, 249, 249);
    }


</style>
<body>
<div class="loader" id="loader2"><p align="center"
                                    style="position: relative; top: 50%; transform: translateY(-50%); z-index:10000; font-size:24px;">
    Cargando...</p></div>
<div id="menus">{% include "menus.html" %}</div>

<div id="contenido" class="ui grid" style=" padding:20px;">

    <div class="ui sixteen wide column" id="divformorder" style="display: none;">
        <form class="ui form" style="padding:15px;" id="OrdenForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h4 class="ui dividing header" id="OrdenHeader">Crear solicitud</h4>
            <div class="field">
                <!--<label>Departamento perteneciente</label>-->
                <div class="two fields">
                    <div class="field">
                        <label>{{ formorden.fecha.label_tag }}</label>
                        {{formorden.fecha}}
                    </div>
                    <div class="field">
                        <label>{{ formorden.folio.label_tag }}</label>
                        {{formorden.folio}}
                    </div>
                </div>
            </div>
            <div class="field">
                <!--<label>Departamento perteneciente</label>-->
                <div class="two fields">
                    <div class="field">
                        <label>{{ formorden.depto.label_tag }}</label>
                        {{formorden.depto}}
                    </div>
                    <div class="field">
                        <label>{{ form.subdepto.label_tag }}</label>
                        {{formorden.subdepto}}
                    </div>
                </div>
            </div>
            <div class="field">
                <label>{{ formorden.solicitante.label_tag }}</label>
                {{ formorden.solicitante }}
            </div>
            <div class="field">
                <label>{{ formorden.tipo_trabajo.label_tag }}</label>
                {{ formorden.tipo_trabajo }}
            </div>
            <div class="field">
                <label>{{ formorden.descripcion.label_tag }}</label>
                {{ formorden.descripcion }}
            </div>

            <div class="ui success message" id="okregorden" style="display:none;">
                <div class="header">Solicitud creada</div>
                <p id="okregmsgorden">Espera a que el administrador valide y asigne la solicitud, se te enviara un
                    correo cuando
                    suceda.</p>
            </div>

            <div class="ui error message" id="badregorden" style="display:none;">
                <div class="header">Solicitud no creada</div>
                <p id="registererrororden">Error, intenta de nuevo más tarde</p>
            </div>

            <h4 class="ui dividing header"></h4>
            <input class="ui inverted green button" id="OrdenBtn" type="submit" value="Crear solicitud"/>
        </form>
    </div>
</div>


<div class="ui modal" id="regform">

    <form class="ui form" style="padding:15px;" id="registro" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h4 class="ui dividing header" id="headerFormReg">Registrate</h4>
        <div class="field">
            <label>{{ form.idEmpleado.label_tag }}</label>
            {{ form.idEmpleado }}
        </div>
        <div class="field">
            <label>{{ form.email.label_tag }}</label>
            {{ form.email }}
        </div>
        <div class="field" id="typetec" style="display:none;">
            <label>{{ form.tipotecnico.label_tag }}</label>
            {{ form.tipotecnico }}
        </div>
        <div class="field">
            <label>{{ form.contra.label_tag }}</label>
            {{ form.contra }}
        </div>
        <div class="field">
            <label>{{ form.telefono.label_tag }}</label>
            {{ form.telefono }}
        </div>
        <div class="field">
            <label>{{ form.extension.label_tag }}</label>
            {{ form.extension }}
        </div>
        <div class="field" id="deptochoices">
            <!--<label>Departamento perteneciente</label>-->
            <div class="two fields">
                <div class="field">
                    <label>{{ form.depto.label_tag }}</label>
                    {{form.depto}}
                </div>
                <div class="field">
                    <label>{{ form.subdepto.label_tag }}</label>
                    {{form.subdepto}}
                </div>
            </div>
        </div>
        <div class="field">
            <label>Nombre</label>
            <div class="three fields">
                <div class="field">
                    {{form.nombre}}
                </div>
                <div class="field">
                    {{form.ap}}
                </div>
                <div class="field">
                    {{form.am}}
                </div>
            </div>
        </div>

        <div class="ui success message" id="okreg" style="display:none;">
            <div class="header">Registro Completado</div>
            <p id="okregmsg">Espera a que el administrador valide el registro, se te enviara un correo cuando
                suceda.</p>
        </div>

        <div class="ui error message" id="badreg" style="display:none;">
            <div class="header">Registro incompleto</div>
            <p id="registererror">Error, intenta de nuevo más tarde</p>
        </div>

        <h4 class="ui dividing header"></h4>
        <input class="ui inverted green button" id="btnRegistrar" type="submit" value="Registrar"/>
    </form>
</div>

<div class="ui modal" id="DepartmentMod">

    <form class="ui form" style="padding:15px;" id="DepartmentForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h4 class="ui dividing header" id="DepartmentHeader">Añadir Departamento</h4>
        <div class="field">
            <label>{{ formdep.nombredep.label_tag }}</label>
            {{ formdep.nombredep }}
        </div>
        <div class="field">
            <label>{{ formdep.edificio.label_tag }}</label>
            {{ formdep.edificio }}
        </div>
        <div class="field">
            <label>{{ formdep.piso.label_tag }}</label>
            {{ formdep.piso }}
        </div>
        <div class="field">
            <label>{{ formdep.sala.label_tag }}</label>
            {{ formdep.sala }}
        </div>
        <div class="ui success message" id="okregdep" style="display:none;">
            <div class="header">Registro Completado</div>
            <p id="okregdepmsg">Espera a que el administrador valide el registro, se te enviara un correo cuando
                suceda.</p>
        </div>

        <div class="ui error message" id="badregdep" style="display:none;">
            <div class="header">Registro incompleto</div>
            <p id="registererrordep">Error, intenta de nuevo más tarde</p>
        </div>

        <h4 class="ui dividing header"></h4>
        <input class="ui inverted green button" id="DepartmentBtn" type="submit" value="Añadir departamento"/>
    </form>
</div>

<div class="ui modal" id="EquipoMod">

    <form class="ui form" style="padding:15px;" id="EquipoForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h4 class="ui dividing header" id="EquipoHeader">Añadir Equipo</h4>
        <div class="field">
            <label>{{ formequipo.tipoequipo.label_tag }}</label>
            {{ formequipo.tipoequipo }}
        </div>
        <div class="field">
            <label>{{ formequipo.idequipo.label_tag }}</label>
            {{ formequipo.idequipo }}
        </div>
        <div class="field">
            <label>Datos generales</label>
            <div class="two fields">
                <div class="field">
                    {{formequipo.fmodelo}}
                </div>
                <div class="field">
                    {{formequipo.fmarca}}
                </div>
            </div>
        </div>
        <div class="field">
            <label>Datos del equipo</label>
            <div class="three fields">
                <div class="field">
                    {{formequipo.fmac}}
                </div>
                <div class="field">
                    {{formequipo.fns}}
                </div>
                <div class="field">
                    {{formequipo.fip}}
                </div>
            </div>
        </div>
        <div class="field">
            <label>Caracteristicas de hardware</label>
            <div class="four fields">
                <div class="field">
                    {{formequipo.fprocesador}}
                </div>
                <div class="field">
                    {{formequipo.fnum_puertos}}
                </div>
                <div class="field">
                    {{formequipo.fmemoria_ram}}
                </div>
                <div class="field">
                    {{formequipo.fdisco_duro}}
                </div>
            </div>
        </div>
        <div class="field">
            <label>Otros datos</label>
            <div class="three fields">
                <div class="field">
                    {{formequipo.fcambs}}
                </div>
                <div class="field">
                    {{formequipo.fsistema_operativo}}
                </div>
                <div class="field">
                    {{formequipo.fidf}}
                </div>
            </div>
        </div>
        <div class="field">
            <label>Ubicación</label>
            <div class="two fields">
                <div class="field">
                    {{formequipo.departamento}}
                </div>
                <div class="field">
                    {{formequipo.empleados}}
                </div>
            </div>
        </div>
        <div class="field">
            <label>Comentarios del equipo</label>
            <div class="two fields">
                <div class="field">
                    {{formequipo.fcaracteristicas}}
                </div>
                <div class="field">
                    {{formequipo.fobservaciones}}
                </div>
            </div>
        </div>
        <div class="ui success message" id="okregequipo" style="display:none;">
            <div class="header">Registro Completado</div>
            <p id="okregmsgequipo">Equipo registrado exitosamente.</p>
        </div>

        <div class="ui error message" id="badregequipo" style="display:none;">
            <div class="header">Registro incompleto</div>
            <p id="registererrorequipo">Error, intenta de nuevo más tarde</p>
        </div>

        <h4 class="ui dividing header"></h4>
        <input class="ui inverted green button" id="EquipoBtn" type="submit" value="Añadir Equipo"/>
    </form>
</div>

<div class="ui modal" id="OrdenMod">


</div>

</body>
</html>

<script>
    $(".loader").hide();
    {%include "index.js" %}


</script>