{% load static %}

{% include "tt/base.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'tt/css/styles.css' %}">
<title>TT - UDI</title>
<style>

    .loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        opacity: .8;
    }

    @media (max-width: 600px) {
        .textup {
            display: none;
        }
        #cap1{
            display: none;
        }
        #cap2{
            display: none;
        }
        #cap3{
            display: none;
        }
    }

    #loader2 {
        background: url("{% static 'tt/img/loader2.gif' %}") 50% 50% no-repeat rgb(249, 249, 249);
    }

    a:link.linksheaders {
        color: black;
    }

    a:visited.linksheaders{
      color: black;
    }

    a:hover.linksheaders{
      color: gray;
    }

     {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.textcap {
  color: #FFF;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
    font-style: oblique;
  bottom: 40px;
  width: 100%;
  text-align: justify;
    background-color: rgba(68,68,68,0.7);
    border-radius: 2px;

}

.textup {
  color: #ff9e3f;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
    font-style: oblique;
  top: 8px;
  width: 100%;
  text-align: center;
    background-color: rgba(68,68,68,0.7);
    border-radius: 2px;
}

.borderred{
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #c92e30;
    margin: 15px;
    padding-left: 15px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #0f0f0f;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

 {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto; /* the bottom margin is the negative value of the footer's height */
}

    .star {
        visibility: hidden;
    }

    .fadeIn {
        -webkit-animation: animat_show 0.8s;
        animation: animat_show 0.8s;
        visibility: visible !important;
    }

    @-webkit-keyframes animat_show{
        0%{opacity:0}
        100%{opacity:1}
    }

</style>
<body>
<div class="loader" id="loader2"><p align="center"
                                    style="position: relative; top: 50%; transform: translateY(-50%); z-index:10000; font-size:24px;">
    Cargando...</p></div>
<div id="menus">{% include "menus.html" %}</div>

<div id="contenido" class="ui grid wrapper" style=" padding:20px;">

    <div class="ui sixteen wide column" id="divformorder" style="display: none;">
        <form class="ui form" style="padding:15px;" id="OrdenForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h4 class="ui dividing header" id="OrdenHeader">Crear solicitud</h4>
            <div class="field">
                <!--<label>Departamento perteneciente</label>-->
                <div class="two fields">
                    <div class="field">
                        <label>{{ formorden.fecha.label_tag }}</label>
                        {{formorden.fecha}}
                    </div>
                    <div class="field">
                        <label>{{ formorden.folio.label_tag }}</label>
                        {{formorden.folio}}
                    </div>
                </div>
            </div>
            <div class="field">
                <!--<label>Departamento perteneciente</label>-->
                <div class="two fields">
                    <div class="field">
                        <label>{{ formorden.depto.label_tag }}</label>
                        {{formorden.depto}}
                    </div>
                    <div class="field">
                        <label>{{ form.subdepto.label_tag }}</label>
                        {{formorden.subdepto}}
                    </div>
                </div>
            </div>
            <div class="field">
                <label>{{ formorden.solicitante.label_tag }}</label>
                {{ formorden.solicitante }}
            </div>
            <div class="field">
                <label>{{ formorden.equipo.label_tag }}</label>
                {{ formorden.equipo }}
            </div>
            <div class="field">
                <label>{{ formorden.tipo_trabajo.label_tag }}</label>
                {{ formorden.tipo_trabajo }}
            </div>
            <div class="field">
                <label>Opciones de instalación</label>
                <select multiple="" class="ui dropdown softw" id="softwareopt">
                  <option value="">Selecciona software a instalar</option>
                </select>
            </div>

            <div class="field">
                <label>{{ formorden.descripcion.label_tag }}</label>
                {{ formorden.descripcion }}
            </div>


            <div class="ui success message" id="okregorden" style="display:none;">
                <div class="header">Solicitud creada</div>
                <p id="okregmsgorden">Espera a que el administrador valide y asigne la solicitud, se te enviara un
                    correo cuando
                    suceda.</p>
            </div>

            <div class="ui error message" id="badregorden" style="display:none;">
                <div class="header">Solicitud no creada</div>
                <p id="registererrororden">Error, intenta de nuevo más tarde</p>
            </div>

            <h4 class="ui dividing header"></h4>
            <input class="ui inverted green button" id="OrdenBtn" type="submit" value="Crear solicitud"/>
        </form>
    </div>


</div>




<div class="ui modal" id="regform">

    <form class="ui form" style="padding:15px;" id="registro" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h4 class="ui dividing header" id="headerFormReg">Registrate</h4>
        <div class="field">
            <label>{{ form.idEmpleado.label_tag }}</label>
            {{ form.idEmpleado }}
        </div>
        <div class="field">
            <label>{{ form.email.label_tag }}</label>
            {{ form.email }}
        </div>
        <div class="field" id="typetec" style="display:none;">
            <label>{{ form.tipotecnico.label_tag }}</label>
            {{ form.tipotecnico }}
        </div>
        <div class="field">
            <label>{{ form.contra.label_tag }}</label>
            {{ form.contra }}
            <div class="ui slider checkbox showpass">
              <input type="checkbox" tabindex="0" class="hidden">
              <label>Mostrar contraseña</label>
            </div>
        </div>
        <div class="field">
            <label>{{ form.telefono.label_tag }}</label>
            {{ form.telefono }}
        </div>
        <div class="field">
            <label>{{ form.extension.label_tag }}</label>
            {{ form.extension }}
        </div>
        <div class="field" id="deptochoices">
            <!--<label>Departamento perteneciente</label>-->
            <div class="two fields">
                <div class="field">
                    <label>{{ form.depto.label_tag }}</label>
                    {{form.depto}}
                </div>
                <div class="field">
                    <label>{{ form.subdepto.label_tag }}</label>
                    {{form.subdepto}}
                </div>
            </div>
        </div>
        <div class="field">
            <label>Nombre</label>
            <div class="three fields">
                <div class="field">
                    {{form.nombre}}
                </div>
                <div class="field">
                    {{form.ap}}
                </div>
                <div class="field">
                    {{form.am}}
                </div>
            </div>
        </div>
        <div class="field" id="taobs" style="display: none;">
            <label>{{ form.observaciones.label_tag }}</label>
            {{ form.observaciones }}
        </div>



        <div class="ui success message" id="okreg" style="display:none;">
            <div class="header">Registro Completado</div>
            <p id="okregmsg">Espera a que el administrador valide el registro, se te enviara un correo cuando
                suceda.</p>
        </div>

        <div class="ui error message" id="badreg" style="display:none;">
            <div class="header">Registro incompleto</div>
            <p id="registererror">Error, intenta de nuevo más tarde</p>
        </div>
        <h4 class="ui dividing header"></h4>
        <div class="ui checkbox terms" id="divterms" style="display: none;">
          <input id="id_terms" type="checkbox" >
          <label for="id_terms">Acepto los términos y condiciones de uso de
            datos personales</label>
            <br>
            <input type="hidden"><a href="{% url 'tt:showTerms'%}" target="_blank">Ver términos y condiciones</a></input>
        </div>

        <h4 class="ui dividing header"></h4>
        <button style="margin: 15px;" id="btncloseregmod" class="ui inverted left floated red button" type="button">Cerrar</button>
        <input style="margin: 15px;" class="ui inverted right floated green button" id="btnRegistrar" type="submit" value="Registrar"/>
    </form>
</div>

<div class="ui modal" id="DepartmentMod">

    <form class="ui form" style="padding:15px;" id="DepartmentForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h4 class="ui dividing header" id="DepartmentHeader">Añadir Departamento</h4>
        <div class="field">
            <label>{{ formdep.nombredep.label_tag }}</label>
            {{ formdep.nombredep }}
        </div>
        <div class="field">
            <label>{{ formdep.edificio.label_tag }}</label>
            {{ formdep.edificio }}
        </div>
        <div class="field">
            <label>{{ formdep.piso.label_tag }}</label>
            {{ formdep.piso }}
        </div>
        <div class="field">
            <label>{{ formdep.sala.label_tag }}</label>
            {{ formdep.sala }}
        </div>
        <div class="ui success message" id="okregdep" style="display:none;">
            <div class="header">Registro Completado</div>
            <p id="okregdepmsg">Espera a que el administrador valide el registro, se te enviara un correo cuando
                suceda.</p>
        </div>

        <div class="ui error message" id="badregdep" style="display:none;">
            <div class="header">Registro incompleto</div>
            <p id="registererrordep">Error, intenta de nuevo más tarde</p>
        </div>

        <h4 class="ui dividing header"></h4>
        <button style="margin: 15px;" id="btnclosedepartmentmod" class="ui inverted left floated red button" type="button">Cerrar</button>
        <input style="margin: 15px;" class="ui inverted right floated green button" id="DepartmentBtn" type="submit" value="Añadir departamento"/>
    </form>
</div>

<div class="ui modal" id="EquipoMod">

    <form class="ui form" style="padding:15px;" id="EquipoForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h4 class="ui dividing header" id="EquipoHeader">Añadir Equipo</h4>
        <div class="field">
            <label>{{ formequipo.tipoequipo.label_tag }}</label>
            {{ formequipo.tipoequipo }}
        </div>
        <div class="field">
            <label>{{ formequipo.idequipo.label_tag }}</label>
            {{ formequipo.idequipo }}
        </div>
        <div class="field" id="generalfields">
            <h3>Datos generales</h3>
            <div class="two fields">
                <div class="field" id="modelofield">
                    <label>{{ formequipo.fmodelo.label_tag }}</label>
                    {{formequipo.fmodelo}}
                </div>
                <div class="field" id="marcafield">
                    <label>{{ formequipo.fmarca.label_tag }}</label>
                    {{formequipo.fmarca}}
                </div>
            </div>
        </div>
        <div class="field" id="datafields">
            <h3>Datos del equipo</h3>
            <div class="three fields">
                <div class="field" id="macfield">
                    <label>{{ formequipo.fmac.label_tag }}</label>
                    {{formequipo.fmac}}
                </div>
                <div class="field" id="nsfield">
                    <label>{{ formequipo.fns.label_tag }}</label>
                    {{formequipo.fns}}
                </div>
                <div class="field" id="ipfield">
                    <label>{{ formequipo.fip.label_tag }}</label>
                    {{formequipo.fip}}
                </div>
            </div>
        </div>
        <div class="field" id="hardwaresection">
            <h3>Caracteristicas de hardware</h3>
            <div class="four fields">
                <div class="field">
                    <label>{{ formequipo.fprocesador.label_tag }}</label>
                    {{formequipo.fprocesador}}
                </div>
                <div class="field">
                    <label>{{ formequipo.fnum_puertos.label_tag }}</label>
                    {{formequipo.fnum_puertos}}
                </div>
                <div class="field">
                    <label>{{ formequipo.fmemoria_ram.label_tag }}</label>
                    {{formequipo.fmemoria_ram}}
                </div>
                <div class="field">
                    <label>{{ formequipo.fdisco_duro.label_tag }}</label>
                    {{formequipo.fdisco_duro}}
                </div>
            </div>
        </div>
        <div class="field">
            <h3>Otros datos</h3>
            <div class="three fields">
                <div class="field" id="cambsfield">
                    <label>{{ formequipo.fcambs.label_tag }}</label>
                    {{formequipo.fcambs}}
                </div>
                <div class="field" id="systemfield">
                    <label>{{ formequipo.fsistema_operativo.label_tag }}</label>
                    {{formequipo.fsistema_operativo}}
                </div>
                <div class="field" id="idffield">
                    <label>{{ formequipo.fidf.label_tag }}</label>
                    {{formequipo.fidf}}
                </div>
            </div>
        </div>
        <div class="field">
            <h3>Ubicación</h3>
            <div class="two fields">
                <div class="field">
                    <label>{{ formequipo.departamento.label_tag }}</label>
                    {{formequipo.departamento}}
                </div>
                <div class="field">
                    <label>{{ formequipo.empleados.label_tag }}</label>
                    {{formequipo.empleados}}
                </div>
            </div>
        </div>
        <div class="field">
            <h3>Comentarios del equipo</h3>
            <div class="two fields">
                <div class="field">
                    <label>{{ formequipo.fcaracteristicas.label_tag }}</label>
                    {{formequipo.fcaracteristicas}}
                </div>
                <div class="field">
                    <label>{{ formequipo.fobservaciones.label_tag }}</label>
                    {{formequipo.fobservaciones}}
                </div>
            </div>
        </div>
        <div class="ui success message" id="okregequipo" style="display:none;">
            <div class="header">Registro Completado</div>
            <p id="okregmsgequipo">Equipo registrado exitosamente.</p>
        </div>

        <div class="ui error message" id="badregequipo" style="display:none;">
            <div class="header">Registro incompleto</div>
            <p id="registererrorequipo">Error, intenta de nuevo más tarde</p>
        </div>

        <h4 class="ui dividing header"></h4>
        <button style="margin: 15px;" id="btncloseequipomod" class="ui inverted left floated red button" type="button">Cerrar</button>
        <input style="margin: 15px;" class="ui inverted right floated green button" id="EquipoBtn" type="submit" value="Añadir Equipo"/>
    </form>
</div>

<div class="ui modal" id="OrdenMod" style="padding:15px;">

    <h4 class="ui dividing header" id="ordenassignHeader" >Mostrando técnicos</h4>
    <br>
        <select class="ui dropdown technique fluid selection" id="tecnicoOpts" >
        </select>
    <br>
    <button style="margin: 15px;" id="btncloseordenmod" class="ui inverted left floated red button" type="button">Cerrar</button>
    <button style="margin: 15px;" class="ui inverted right floated green button" id="selectTecnicoBtn" type="button">Asignar Técnico</button>
</div>

<div class="ui modal" id="SurveyMod">

    <center>
            <div class="ui icon header">
                <i class="clipboard outline icon"></i>
                <p id="pOrdenFolio">Tu Orden con No. Folio : </p>
                <p>Ha finalizado, por favor responde la siguiente encuesta.</p>
            </div>
    </center>

   <form class="ui form" style="padding:15px;" id="SurveyForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h4 class="ui dividing header">ENCUESTA DE SERVICIO</h4>
       <div class="scrolling content">
       <div class="field">
           <h4 class="ui dividing header">CONFIABILIDAD</h4>
            <div class="field">
                <label>{{ formsurvey.choice11.label_tag }}</label>
                {{ formsurvey.choice11 }}
            </div>
           <div class="field">
                <label>{{ formsurvey.choice12.label_tag }}</label>
                {{ formsurvey.choice12 }}
            </div>
           <div class="field">
                <label>{{ formsurvey.choice13.label_tag }}</label>
                {{ formsurvey.choice13 }}
            </div>
       </div>
       <div class="field">
           <h4 class="ui dividing header">RESPONSABILIDAD</h4>
            <div class="field">
                <label>{{ formsurvey.choice21.label_tag }}</label>
                {{ formsurvey.choice21 }}
            </div>
           <div class="field">
                <label>{{ formsurvey.choice22.label_tag }}</label>
                {{ formsurvey.choice22 }}
            </div>
           <div class="field">
                <label>{{ formsurvey.choice23.label_tag }}</label>
                {{ formsurvey.choice23 }}
            </div>
           <div class="field">
                <label>{{ formsurvey.choice24.label_tag }}</label>
                {{ formsurvey.choice24 }}
            </div>
       </div>
       <div class="field">
           <h4 class="ui dividing header">SEGURIDAD Y EMPATIA</h4>
            <div class="field">
                <label>{{ formsurvey.choice31.label_tag }}</label>
                {{ formsurvey.choice31 }}
            </div>
           <div class="field">
                <label>{{ formsurvey.choice32.label_tag }}</label>
                {{ formsurvey.choice32 }}
            </div>
           <div class="field">
                <label>{{ formsurvey.choice33.label_tag }}</label>
                {{ formsurvey.choice33 }}
            </div>
       </div>
       <div class="field">
           <h4 class="ui dividing header">INFRAESTRUCTURA Y SERVICIOS GENERALES</h4>
            <div class="field">
                <label>{{ formsurvey.choice41.label_tag }}</label>
                {{ formsurvey.choice41 }}
            </div>
           <div class="field">
                <label>{{ formsurvey.choice42.label_tag }}</label>
                {{ formsurvey.choice42 }}
            </div>
           <div class="field">
                <label>{{ formsurvey.choice43.label_tag }}</label>
                {{ formsurvey.choice43 }}
            </div>
           <div class="field">
                <label>{{ formsurvey.choice44.label_tag }}</label>
                {{ formsurvey.choice44 }}
            </div>
       </div>
       </div>
        <h4 class="ui dividing header"></h4>
       <button style="margin: 15px; display: none" id="btnclosesurveymod" class="ui inverted left floated red button" type="button">Cerrar</button>
       <input style="margin: 15px;"  class="ui inverted right floated green button" id="btnSendSurvey" type="submit" value="Enviar encuesta"/>
    </form>
</div>

<div class="ui modal" id="RecPassMod" style="padding:15px;">

    <h4 class="ui dividing header" id="recPassHeader" >Introduce tú correo</h4>
    <form class="ui form" id="formRecPass" style="padding:15px;" method="post" enctype="multipart/form-data">
      <div class="field">
        {{ formrecpass.emailrec }}
      </div>
        <h4 class="ui dividing header"></h4>
        <button id="btncloserecpassmod" class="ui inverted left floated red button" type="button">Cerrar</button>
        <input class="ui inverted right floated green button" id="btnRecPass" type="submit" value="Recuperar contraseña"/>
    </form>

</div>

<div class="ui modal" id="SoftwareMod" style="padding:15px;">

    <h4 class="ui dividing header" id="SoftwareHeader" >Añadir Software</h4>
    <form class="ui form" id="formSoftware" style="padding:15px;" method="post" enctype="multipart/form-data">
      <div class="field">
          <label>{{ formsoft.software.label_tag }}</label>
        {{ formsoft.software }}
      </div>
        <div class="field">
            <label>{{ formsoft.descripcion.label_tag }}</label>
        {{ formsoft.descripcion }}
      </div>

        <div class="ui success message" id="okregsoft" style="display:none;">
            <div class="header">Registro Completado</div>
            <p id="okregmsgsoft">Equipo registrado exitosamente.</p>
        </div>

        <div class="ui error message" id="badregsoft" style="display:none;">
            <div class="header">Registro incompleto</div>
            <p id="registererrorsoft">Error, intenta de nuevo más tarde</p>
        </div>
        <h4 class="ui dividing header"></h4>
        <button id="btnclosesoftwaremod" class="ui inverted left floated red button" type="button">Cerrar</button>
        <input class="ui inverted right floated green button" id="btnsoftware" type="submit" value="Añadir software"/>
    </form>

</div>


<div class="st-actionContainer right-bottom" id="floatmenu" style="display: none;">
    <div class="st-panel" id="panelfloatmenu">
        <div class="st-panel-header"><i class="users icon"></i>Añadir usuarios</div>
        <div class="st-panel-contents">
            <button class="ui right labeled icon inverted primary button" style="width: 100%;" onclick="addTec()">
                <i class="user plus icon"></i>
                Añadir Técnico
            </button>
            <br>
            <br>

            <button class="ui right labeled icon inverted primary button" style="width: 100%;" onclick="addDoc()">
                <i class="user plus icon"></i>
                Añadir Docente
            </button>
            <br>
            <br>
            <button class="ui right labeled icon inverted primary button" style="width: 100%;" onclick="addAdmin()">
                <i class="user plus icon"></i>
                Añadir Administrador
            </button>
        </div>
    </div>
    <div class="st-btn-container right-bottom">
        <div class="st-button-main"><i class="users icon"></i></div>
    </div>
</div>


<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="six wide column">
            <h3>DATOS DE CONTACTO</h3>
            <i class="home icon"></i>
            Dirección: Av. Juan de Dios Bátiz esq. Av. Miguel Othón de Mendizábal, Col. Lindavista. Demarcación Territorial, Gustavo A. Madero. Ciudad de México<br>
            C. P. 07738.<br>
            <a href="https://www.facebook.com/UDIescomIPN/" target="_blank"> <i class="facebook icon"></i> Facebook: https://www.facebook.com/UDIescomIPN/</a><br>
            <i class="envelope icon"></i> Correo Electrónico: udiescom2019@gmail.com<br>
            <i class="phone icon"></i> Teléfono: 57296000 ext.52015
        </div>
    </div>
</div>

</body>
</html>

<script>
    $(".loader").hide();

$('.st-actionContainer').launchBtn({
  openDuration: 600,
  closeDuration: 200,
     rotate: true
});


    // function plusSlides(n) {
    //   showSlides(slideIndex += n);
    // }
    //
    // // Thumbnail image controls
    // function currentSlide(n) {
    //   showSlides(slideIndex = n);
    // }





    {%include "index.js" %}


</script>